
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Şehir adını Giriniz</label>
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-primary">Şehir ID Getir</button>
</form>
