@model GetGuideByIdQueryResult
@{
    ViewData["Title"] = "GetGuides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post" class="form-group">
    <input type="hidden" asp-for="GuideId" />
    <label>Ad Soyad</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Ad Soyad bilgisi giriniz..." />

    <label style="margin-top:10px">Açıklama</label>
    <textarea class="form-control" asp-for="Description" rows="4" cols="10" placeholder="Açıklama bilgisi giriniz..."></textarea>
    <br />
    <button class="btn btn-primary" style="float:right">Değişiklikleri Kaydet</button>
    <br />
</form>

