@model Admin
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0"></h5>
            <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
            <form method="post">
                <input type="hidden" asp-for="AdminID" />
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-name"> Adınız </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="FullName" id="basic-default-name" placeholder="Adınızı giriniz..." />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-company">Kullanıcı Adı</label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               asp-for="UserName"
                               id="basic-default-company"
                               placeholder="Kullanıcı adınızı giriniz..." />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-email">Mail adresi</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <input type="text"
                                   id="basic-default-email"
                                   class="form-control"
                                   placeholder="Mail adresinizi giriniz..."
                                   asp-for="Mail"
                                   aria-describedby="basic-default-email2" />
                            <span class="input-group-text" id="basic-default-email2"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-email">Şifre</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <input type="password"
                                   id="basic-default-email"
                                   class="form-control"
                                   placeholder="******"
                                   asp-for="Password"
                                   aria-describedby="basic-default-email2" />
                            <span class="input-group-text" id="basic-default-email2"></span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" style="height:50px; width:240px; float:right">Profil Bilgilerini Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

