@model AnnouncementUpdateDto
@{
    ViewData["Title"] = "UpdateAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" class="form-group">
    <input type="text" asp-for="AnnouncementID" hidden />

    <label>Duyuru Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" placeholder="Duyuru başlığı giriniz..." style="margin-bottom:10px" />
    <span asp-validation-for="Title" class="text-danger"></span>

    <label style="margin-top:10px">Dururu İçeriği</label>
    <input type="text" asp-for="Content" class="form-control" placeholder="Duyuru içeriğini giriniz..." style="margin-bottom:10px" />
    <span asp-validation-for="Content" class="text-danger"></span>

    <label style="margin-top:10px">Duryuru Tarihi</label>
    <input type="date" asp-for="Date" class="form-control" placeholder="Duyuru tarihini giriniz..." />
    <br />
    <button class="btn btn-primary" style="height:50px; width:200px; float:right">Değişiklikleri Kaydet</button>
</form>