@model List<EntityLayer.Concrete.TravelStories>

<section class="w3l-grids1">
    <div class="hny-three-grids py-5">
        <div class="container py-lg-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-6 mt-0 grids5-info">
                        <a href="/Destination/DestinationDetails/@item.DestinationID"><img src="@item.CoverImage" class="img-fluid" alt="" style="height:300px; width:450px"></a>
                        <h5>@item.Destination.Description</h5>
                        <h4><a href="/Destination/DestinationDetails/@item.DestinationID">@item.Destination.City</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse? dolores impedit doloremque.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
s