
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row mt-3">
    <div class="d-grid gap-2 col-lg-12 mx-auto">
        <a href="/Admin/Excel/DestinationDynamicExcelReport" class="btn btn-success btn-lg "> Tur Rotası Excel Raporu</a>
        <a href="/Admin/Excel/ReservationDynamicExcelReport" class="btn btn-warning btn-lg"> Rezervasyon Excel Raporu</a>
        <a href="/Admin/PdfReport/StaticCustomerPdfReport" class="btn btn-primary btn-lg"> Müşteri Pdf Raporu</a>
    </div>
</div>

